name: Mutation Test Generation Workflow
on:
  push

jobs:
  mutation-test-generation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with: 
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run forge install 
        run: |
          forge install

      - name: Mutation Test Generator
        uses: olympix/mutation-test-generator@main
        env:
          OLYMPIX_API_TOKEN: ${{ secrets.OLYMPIX_API_TOKEN }}
          OLYMPIX_API_URL: https://api.olympixdevsectools.com/api/v1
          OLYMPIX_API_WS_URL: wss://api.olympixdevsectools.com/api/v1/client-ide-ws
          OLYMPIX_FAIL_MUTATION_GHA_THRESHOLD: 30
          OLYMPIX_GITHUB_COMMIT_HEAD_SHA: ${{ github.sha }}
        with:
          args: -w . -env -p src/ReentrancyAttack.sol -p src/SavingsAccount.sol
